.container {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	background-color: oklch(27.9% 0.041 260.031);
	color: white;
	align-items: center;
	border-radius: 16px;
}

.links {
	display: flex;
	gap: 1rem;
	font-size: 1.2rem;
	align-items: center;
	justify-content: center;
}

.link {
	display: inline-block;
	font-weight: 600;
	text-decoration: inherit;
	color: oklch(54.1% 0.281 293.009);
	transition: all .5s;
}

.link:hover::after {
	width: 100%;
}

.link::after {
	content: "";
	position: absolute;
	width: 0%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: oklch(54.1% 0.281 293.009);
	transition: width .5s;
}

.link:hover {
	color: oklch(49.1% 0.27 292.581);
	transform: scale(1.2);
}

@media (max-width: 600px) {
	.container {
		flex-direction: column;
		justify-content: center;
	}

	.link {
		transition: none;
	}

	.link:hover::after {
		width: 0%;
	}

	.link:hover {
		transform: scale(1)
	}
}
