.header {
	display: flex;
	align-items: center;
	justify-content: center;
}

.itemsContainer {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 1rem;
}

.itemContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: oklch(27.9% 0.041 260.031);
	border-radius: 1rem;
	padding: 1rem;
	min-height: 300px;
}

.priceText {
	color: oklch(69.6% 0.17 162.48);
}

.itemInput {
	background-color: oklch(20.8% 0.042 265.755);
	border: none;
	border-radius: 1rem;
	color: white;
	transition: all .5s;
	padding: .5rem .75rem;
}

.itemInput:focus {
	transform: scale(1.05);
	background-color: oklch(21% 0.034 264.665);
}

.centered {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media (max-width: 600px) {
	.itemsContainer {
		grid-template-columns: repeat(auto-fill, minmax(90%, 1fr));
	}
}
